.header{
    background-color: rgb(241, 138, 11);
    padding: 30px;
}
.header h1{
    text-align: center;
}

.container{
    width: 100%;
    float: left;
}
.sidebar{
    width: 20%;
    float: left;
    background-color: hsl(318, 90%, 53%);
    height: 400px;
}
ul{
    list-style-type: none;
}
.mainbody{
    width: 70%;
    float: left;
    padding: 5%;
}
.footer{
    background-color: #6ccc2c;
    padding: 5%;
    text-align: center;
    float: left;
    width: 90%;

}

.menu-container{}
.logo{
    width: 200px;
}
.menu{
    list-style-type: none;
    float: right;
}
.menu li{
    display: inline;
}
.menu li a{
    padding-left: 10px;
    padding-right: 10px;
}